:root {
    --color1: #14488b;
    --color2: #008b8b;
    --color4: #c4ced4;
    --color3: #d50032;
}

.titledesc {

    padding: 10rem;

}

h1 {
    
    justify-self: flex-start;

    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 500;
    margin: 1rem ;

}

@media(max-width: 400px) {
    h1 {
        font-size: 4rem;
    }
}


.card-wrapping {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    width: 100%;
    padding: 10rem;

    margin-bottom: auto;
    background-color: var(--colorss);

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 16rem;
    height: 20rem;

    border: 3px solid var(--color1);
    border-radius: 1rem;

    color: var(--color1);
    transition: 0.3s;

    font-size: 2rem;
    text-transform: uppercase;
}

.card:hover {
    cursor: pointer;
    background-color: var(--color1);
    color: var(--colorss);
    transform: translateY(-7px);
}

.card:nth-child(2) {
    color: var(--color2);
    border-color: var(--color2);
}
.card:nth-child(3) {
    color: var(--color4);
    border-color: var(--color4);
}
.card:nth-child(4) {
    color: var(--color3);
    border-color: var(--color3);
}

.card:nth-child(2):hover {
    background-color: var(--color2);
    color: var(--colorss);
}
.card:nth-child(3):hover {
    background-color: var(--color4);
    color: var(--colorss);
}
.card:nth-child(4):hover {
    background-color: var(--color3);
    color: var(--colorss);
}

.card svg {
    width: 4rem;
    fill: var(--colorss);
    margin-bottom: 1rem;
}